@using HirolaMVC.ViewModels
@model ChangePasswordVM
<div class="breadcrumb-area">
    <img height="230" width="1920" src="~/assets/images/i.webp" />
</div>
<div class="col-sm-12 col-md-24 col-xs-12 col-lg-12" style="margin:auto">
   
    <form method="post">
        <div class="login-form">
            <h4 class="login-title">Change Password</h4>
            <div class="row">
                <div class="text-danger" asp-validation-summary="ModelOnly">
                </div>

                <div class="col-md-12">
                    <label asp-for="CurrentPassword">CurrentPassword</label>
                    <input asp-for="CurrentPassword" placeholder="Current Password" />
                    <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" placeholder="New Password" />
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>

                <div class="col-md-12">
                    <label asp-for="ConfirmNewPassword">Confirm New Password</label>
                    <input asp-for="ConfirmNewPassword" placeholder="Confirm New Password" />
                    <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                </div>
             
                <a asp-action="forgotpassword" style="color:blue">Forgot Password</a>

                <div class="col-md-12">
                    <button type="submit" class="hiraola-login_btn">Change</button>
                </div>
            </div>
        </div>
    </form>
</div>