@using HirolaMVC.ViewModels
@model ForgotPasswordVM
<div class="breadcrumb-area">
    <img height="230" width="1920" src="~/assets/images/i.webp" />
</div>
<div class="col-sm-12 col-md-24 col-xs-12 col-lg-12" style="margin:auto">
    <!-- Login Fors-->
    <form method="post">
        <div class="login-form">
            <h4 class="login-title">Login</h4>
            <div class="row">
                <div class="text-danger" asp-validation-summary="ModelOnly">
                </div>

                <div class="col-md-12">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" placeholder="Email" />
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                

                <div class="col-md-12">
                    <button type="submit" class="hiraola-login_btn">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>